@import "styles/variables.scss";

.select {
  background: $grey-light;
  border: 1px solid $grey-medium;
  padding: 10px 16px;
  border-right: 16px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  height: 44px;
}

@media (max-width: 500px) {
  .select {
    height: 38px;
  }
}
