@import "styles/mixines.scss";
@import "styles/variables.scss";

.catalog {
  max-width: 95vw;
  height: 100vh;
  margin: 0 auto;
  &_searchbar {
    @include flex(center, space-between);
    background: $white;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid $grey-medium;
  }
  &_books {
    @include flex(stretch, space-between);
    flex-wrap: wrap;
    margin-top: 20px;
    background: $white;
    padding: 0 24px 24px;
    border-radius: 8px;
    border: 1px solid $grey-medium;
  }
}
