@import "styles/variables.scss";

.catalog {
  max-width: 95vw;
  height: 100vh;
  margin: 0 auto;
  &_searchbar {
    margin-top: 20px;
    background: $white;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid $grey-medium;
  }
}
