@import "styles/mixines.scss";
@import "styles/variables.scss";

.search {
  position: relative;
  @include flex(center, flex-start);
  max-width: 360px;
  width: 100%;
  height: 56px;
  background: $white;
  border: 1px solid $grey-medium;
  border-radius: 100px;
  z-index: 5;
  &_icon {
    position: absolute;
    left: 6px;
    @include flex();
    min-width: 42px;
    min-height: 42px;
    background: $primary;
    border-radius: 50%;
    cursor: pointer;
    z-index: 6;
    .icon {
      width: 20px;
      height: 20px;
      fill: $white;
    }
  }
  &_input {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 54px;
    font-size: 16px;
    padding-left: 52px;
  }
  &_clear_icon {
    position: absolute;
    width: 20px;
    min-width: 20px;
    height: 20px;
    right: 6px;
    cursor: pointer;
    fill: $grey;
  }
}
